* {
    background: black;
    color: white;
}
body {
    font: caption;
}

button {
    background-color: white;
    color: black;
    align-content: center;
}

input {
    background-color: white;
    color: black;
}

h1 {
    text-align: center;
}
